{% load static %}
<div class="container">    
    <li><a href="{% url 'puzzle:pickAnimal' %}"><img class="mode" src="{% static "images/puzzle-pieces-5184x3888_21501.jpg"%}" style="height: 200px; margin-top: 60px;"    /></a></li>
    <li><a href="{% url 'puzzle:growing_mode' %}"><img class="mode" src="{% static "images/dreamstime_s_56751218.jpg"%}" style="height: 200px; margin-top: 20px;"    /></a></li>
    <li><a href="{% url 'puzzle:family_mode' %}"><img class="mode" src="{% static "images/842326.f56.355e0S7ay1Cm2MjUAAA-650x650-b-p.jpg"%}" style="height: 200px; margin-top: 20px;"/></a></li>
    </ul>
</div>